.play {
    width: 185px;
    transition: border 180ms, opacity 180ms;
    opacity: 0;
    position: absolute;
    top: -95px;
    left: 0;
    text-align: center;
    margin: 10px;
}
.play i {
    color: white;
    font-size: 40px;
    padding: 15px;
}
.playPosterContainer {
    position: relative;
}
.playPosterContainer:hover .episode {
    opacity: 0.95;
    border: var(--hover-border-color) solid 2px;
    box-shadow: 0 0 5px 0 var(--hover-border-color);
    border-radius: 5px;
    outline: none;
}
.playPosterContainer:hover .play {
    opacity: 1;
}
.num {
    opacity: 0.8;
    text-shadow: 0 0 4px black;
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    padding-right: 20px;
    text-align: right;
    transition: top 90ms, left 90ms;
}
.episode {
    width: 185px;
    box-shadow: 5px 5px 5px 0 rgba(21, 21, 21, 0.6);
    border-radius: 4px;
    transition: opacity 180ms;
    margin: 10px;
    position: relative;
    border: transparent solid 2px;
}

@media only screen and (max-width: 1985px) {
    .episode {
        width: calc((100% / 11) - 20px);
    }
}
@media only screen and (max-width: 1821px) {
    .episode {
        width: calc((100% / 10) - 20px);
    }
}
@media only screen and (max-width: 1657px) {
    .episode {
        width: calc((100% / 9) - 20px);
    }
}
@media only screen and (max-width: 1493px) {
    .episode {
        width: calc((100% / 8) - 20px);
    }
}
@media only screen and (max-width: 1329px) {
    .episode {
        width: calc((100% / 7) - 20px);
    }
}
@media only screen and (max-width: 1165px) {
    .episode {
        width: calc((100% / 6) - 20px);
    }
}
@media only screen and (max-width: 1001px) {
    .episode {
        width: calc((100% / 5) - 20px);
    }
}
@media only screen and (max-width: 837px) {
    .episode {
        width: calc((100% / 4) - 20px);
    }
}
@media only screen and (max-width: 673px) {
    .episode {
        width: calc((100% / 3) - 20px);
    }
}
@media only screen and (max-width: 509px) {
    .episode {
        min-width: calc((100% / 2) - 20px);
    }
}
@media only screen and (max-width: 346px) {
    .episode {
        width: calc((100% / 1) - 20px);
    }
}
