.bg {
    padding: 15px 15px;
    min-height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: repeat-y;
    background-position-x: center;
}

.poster {
    max-height: 340px;
    display: inline-block;
    box-shadow: 5px 5px 5px 0 rgba(21, 21, 21, 0.6);
    border-radius: 4px;
    margin: 10px;
}
.title {
    font-size: 38pt;
    font-weight: 700;
    display: inline-block;
}
.info {
    display: inline-block;
    font-size: 16pt;
}
.marked {
    margin: 10px;
    border-radius: 8px;
    background-color: rgba(66, 66, 66, 0.6);
    padding: 4px 6px;
}

.infoKey {
    color: #cdcdcd;
}
.infoValue {
    padding-left: 8px;
    color: #e0e0e0;
}

.seasonContainer {
    position: relative;
}
.season {
    margin: 10px;
    display: inline-block;
    box-shadow: 5px 5px 5px 0 rgba(21, 21, 21, 0.6);
    border-color: #1565c0;
    border-radius: 4px;
    transition: opacity 100ms ease, border 200ms;
    width: 160px;
    cursor: pointer;
}
.number {
    opacity: 0.8;
    text-shadow: 0 0 4px black;
    position: absolute;
    top: -18px;
    left: -10%;
    width: 100%;
    text-align: right;
    transition: top 90ms, left 90ms;
}
.seasonContainer:hover .number {
    top: -20px;
    left: calc(-10% - 2px);
}
.seasonContainer:hover .season {
    opacity: 0.9;
    border: #1565c0 solid 3px;
    border-radius: 5px;
    outline: none;
}
