@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Material+Icons");

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #616161;
    font-family: "Lato", "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: #fafafa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
    width: 0.5em;
    background-color: #616161;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb {
    background-color: #212121;
    outline: 1px solid #616161;
}
* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}
