@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Material+Icons");

:root {
    --border-color: #585858;
    --hover-border-color: #1565c0;
    --faded-text: #9e9e9e;
    --focused-text: #e0e0e0;
    --secondary-color: #424242;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #424242;
    font-family: "Lato", "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: #fafafa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
    width: 0.5em;
    background-color: var(--secondary-color);
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
body::-webkit-scrollbar-thumb {
    background-color: #212121;
    outline: 1px solid var(--secondary-color);
}
* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}

button.material-icons {
    background: none;
    transition: border-color 150ms, color 150ms;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    cursor: pointer;
    color: var(--faded-text);
}
button.material-icons:hover {
    border-color: var(--hover-border-color);
    outline: none;
    color: var(--focused-text);
}
.vjs-tech {
    position: unset !important;
}
.video-js {
    height: calc(100vh - 56px) !important;
    width: 100% !important;
    margin: auto !important;
    background-color: black !important;
}
.video-js:active,
.vjs-tech:active,
.vjs-big-play-button:active,
.video-js:focus,
.vjs-tech:focus,
.vjs-big-play-button:focus {
    outline: none;
}
.video-js .vjs-big-play-button {
    font-size: 32px !important;
    line-height: 1.9em !important;
    height: 2em !important;
    width: 2em !important;
    border-radius: 1em !important;
}
.vjs-poster {
    background-position: center !important;
    background-size: cover !important;
}
.video-js .vjs-paused {
}
.video-js .vjs-captions {
    font-family: "Lato", "Helvetica Neue", arial, sans-serif;
}
