/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(/assets/fonts/Lato-Regular1.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(/assets/fonts/Lato-Regular2.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(/assets/fonts/Lato-Bold1.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(/assets/fonts/Lato-Bold2.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/Material-Icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    outline: none;
}

:root {
    --border-color: #585858;
    --hover-border-color: #80cff7;
    --faded-text: #9e9e9e;
    --focused-text: #e0e0e0;
    --primary-color: #0d47a1;
    --secondary-color: #1976d2;
    --header-color: #212121;
    --background-color: #424242;
    --secondary-background-color: #616161;

    --mdc-theme-primary: var(--primary-color);
    --mdc-theme-secondary: var(--secondary-color);
    --mdc-theme-background: var(--background-color);
    --mdc-theme-surface: var(--secondary-background-color);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background: var(--background-color);
    font-family: "Lato", "Helvetica Neue", arial, sans-serif;
    color: #fafafa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nx-scroll {
    overflow-x: auto;
    overflow-y: auto;
}
.nx-scroll::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    background-color: var(--secondary-background-color);
}
.nx-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.nx-scroll::-webkit-scrollbar-thumb {
    background-color: var(--header-color);
    outline: 1px solid var(--secondary-background-color);
}

body::-webkit-scrollbar {
    width: 0.5em;
    background-color: var(--secondary-background-color);
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--header-color);
    outline: 1px solid var(--secondary-background-color);
}


button.material-icons,
button.bordered {
    height: 30px;
    background: none;
    color: var(--faded-text);
    transition: border-color 200ms, color 150ms, box-shadow 200ms;
}
button.material-icons:not(:disabled):hover {
    color: var(--focused-text);
    cursor: pointer;
}
button.noborder {
    border: none;
}
.bordered {
    border: 2px solid var(--border-color);
    border-radius: 2px;
}
.bordered:not(:disabled):hover {
    color: var(--focused-text);
    border-color: var(--hover-border-color);
    box-shadow: 0 0 5px 0 var(--hover-border-color);
    outline: none;
    cursor: pointer;
}

.modal {
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    box-shadow: 0 5px 10px 2px rgba(195,192,192,.5);
    padding: 20px;
    text-align: center;
}
.modal-close {
    position: absolute;
    right: 6px;
    top: 9px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}
.modal-toggle-button {
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}
.modal-toggle-button:focus {
    outline: none;
}

.columns-1 {
    display: inline-block;
    width: 12em;
}
.columns-2 {
    display: inline-block;
    width: 20em;
}
.columns-3 {
    display: inline-block;
    width: 28em;
}

.inline-edit {
    font-size: 12pt;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 2px;
    color: var(--focused-text);
    height: 30px;
    padding-top: 2px;
    padding-left: 4px;
    transition: border-color 200ms, box-shadow 200ms;
}
.inline-edit:focus {
    border-color: var(--hover-border-color);
    box-shadow: 0 0 5px 0 var(--hover-border-color);
    outline: none;
}
.inline-edit:focus:invalid {
    border-color: darkred;
    box-shadow: 0 0 5px 0 darkred;
}
.fullwidth {
    width: 100%;
}
.gapped {
    margin-bottom: 6px;
}
table {
    border-collapse: collapse;
    overflow-x: auto;
}
.center-content {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.right {
    float: right;
}
