@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Material+Icons");

:root {
    --border-color: #585858;
    --hover-border-color: #80cff7;
    --faded-text: #9e9e9e;
    --focused-text: #e0e0e0;
    --primary-color: #0d47a1;
    --secondary-color: #1976d2;
    --header-color: #212121;
    --background-color: #424242;
    --secondary-background-color: #616161;

    --mdc-theme-primary: var(--primary-color);
    --mdc-theme-secondary: var(--secondary-color);
    --mdc-theme-background: var(--background-color);
    --mdc-theme-surface: var(--secondary-background-color);
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--background-color);
    font-family: "Lato", "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: #fafafa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nx-scroll {
    overflow: auto;
}
.nx-scroll::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    background-color: var(--secondary-background-color);
}
.nx-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.nx-scroll::-webkit-scrollbar-thumb {
    background-color: var(--header-color);
    outline: 1px solid var(--secondary-background-color);
}

body::-webkit-scrollbar {
    width: 0.5em;
    background-color: var(--secondary-background-color);
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--header-color);
    outline: 1px solid var(--secondary-background-color);
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}

button.material-icons,
button.bordered {
    height: 30px;
    background: none;
    color: var(--faded-text);
    transition: border-color 200ms, color 150ms, box-shadow 200ms;
}
button.material-icons:not(:disabled):hover {
    color: var(--focused-text);
    cursor: pointer;
}
button.bordered {
    border: 2px solid var(--border-color);
    border-radius: 2px;
}
button.bordered:not(:disabled):hover {
    color: var(--focused-text);
    border-color: var(--hover-border-color);
    box-shadow: 0 0 5px 0 var(--hover-border-color);
    outline: none;
    cursor: pointer;
}

.columns-1 {
    display: inline-block;
    width: 12em;
}
.columns-2 {
    display: inline-block;
    width: 20em;
}
.columns-3 {
    display: inline-block;
    width: 28em;
}

.inline-edit {
    font-size: 12pt;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 2px;
    color: var(--focused-text);
    height: 30px;
    padding-top: 2px;
    padding-left: 4px;
    transition: border-color 200ms, box-shadow 200ms;
}
.inline-edit:focus {
    border-color: var(--hover-border-color);
    box-shadow: 0 0 5px 0 var(--hover-border-color);
    outline: none;
}
.inline-edit:focus:invalid {
    border-color: darkred;
    box-shadow: 0 0 5px 0 darkred;
}
.fullwidth {
    width: 100%;
}
table {
    border-collapse: collapse;
    overflow-x: auto;
}
.center-content {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}
