@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

.header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    padding: 0;
    background: var(--header-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.header img {
    max-height: 48px;
    margin: 4px;
    margin-left: 6px;
}

.header h1 {
    font-family: "Permanent Marker", cursive;
    float: left;
    margin: 0;
    padding: 0 15px;
    font-size: 45px;
    line-height: 56px;
    font-weight: 400;
    color: #f5f5f5;
    user-select: none;
}

.header nav {
    float: right;
    font-size: 32px;
}

.header nav a {
    display: inline-block;
    height: 56px;
    line-height: 56px;
    padding: 0 15px;
    min-width: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    text-decoration: none;
    color: #fff;
    will-change: background-color;
}

.header nav a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.header nav a:active {
    background: rgba(0, 0, 0, 0.4);
}
.menu {
}
.menuContent {
}
.menuOpener {
    display: none !important;
}
@media only screen and (max-width: 400px) {
    .menu {
        width: 56px;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.75);
        border-bottom-left-radius: 16px;
        display: inline-table;
    }
    .menuContent {
        display: none;
    }
    .menu:hover .menuContent {
        display: inline-block;
    }
    .menuOpener {
        display: inline-block !important;
        height: 56px;
        line-height: 56px;
        padding: 0 15px;
        width: 56px;
        text-align: center;
    }
}
