.search {
    padding-left: 5px;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    border: none;
    background: none;
    color: var(--focused-text);
    margin-right: 1px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.search::placeholder {
    color: var(--faded-text);
    opacity: 1;
    transition: color 250ms;
}
.search:focus {
    outline: none;
}
.search:focus::placeholder {
    color: #bdbdbd;
    transition: color 250ms;
}

.top {
    border: 2px solid var(--border-color);
    border-radius: 8px;
    transition: border-color 1100ms;
    display: grid;
    grid-template-columns: auto 75px;
    grid-template-rows: auto auto;
}
.top:active, .top:focus, .top:hover {
    transition: border-color 200ms, box-shadow 200ms;
    box-shadow: 0 0 5px 0 var(--hover-border-color);
    border-color: var(--hover-border-color);
}

.showFilters {
    margin-top: 2px;
    background: none;
    color: var(--focused-text);
    display: inline-block;
    outline: none;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.filters {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}