.videoContainer {
    height: calc(100vh - 56px);
    width: 100%;
    background-color: black;
    outline: none;
    overflow: hidden;
    position: relative;
}

.videoContainer .topControls {
    position: absolute;
    top: -200px;
    transition: top 250ms;
    z-index: 20;
    text-shadow: 1px 1px 3px black;
}

.videoContainer .bottomControls {
    z-index: 20;
    position: absolute;
    transition: bottom 250ms;
    display: inline-block;
    bottom: -300px;
    text-shadow: 1px 1px 3px black;
}

.volumeControls {
    display: inline-block;
}

.volumeControls input {
    width: 0;
    opacity: 0;
    transition: opacity 300ms, width 300ms;
    height: 26px;
    cursor: pointer;
}

.volumeControls:hover input, .volumeControls.touch input {
    width: 150px;
    opacity: 1;
}

.touch {
}

.focused {
}

.playing {
}

.title {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 24pt;
    color: var(--focused-text);
}

.videoContainer.playing {
    cursor: none;
}

.videoContainer.focused {
    cursor: default;
}

.videoContainer.focused .topControls, .topControls:hover {
    top: 16px;
}

.videoContainer.focused .bottomControls, .bottomControls:hover {
    bottom: 0px;
}

.video {
    height: 100%;
    width: 100%;
    margin: auto;
    outline: none;
}

.video::cue {
    font-size: 42px;
}

.videoControls {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(25, 64, 46, 0.5);
}


:focus {
    outline: none;
}
