.bg {
    padding: 5px 5px;
    height: calc(100vh - 56px);
    width: 100%;
    background-size: cover;
    background-repeat: repeat-y;
    background-position-x: center;
}
.content {
    height: calc(100vh - 61px);
    overflow: auto;
}
.title,
.tag {
    font-weight: 700;
    display: inline-block;
}
.title {
    font-size: 38pt;
}
.tag {
    font-size: 14pt;
}
.info {
    display: inline-block;
    font-size: 16pt;
}
.marked {
    margin: 10px;
    border-radius: 8px;
    background-color: rgba(66, 66, 66, 0.6);
    box-shadow: 2px 2px 5px 0 rgba(21, 21, 21, 0.6);
    padding: 4px 10px;
}

.infoKey {
    color: #cdcdcd;
}
.infoValue {
    padding-left: 8px;
    color: #e0e0e0;
}
