<!DOCTYPE html>
<html lang="en">
<head data-cast-api-enabled="true">
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shaka-player@2.5.5/dist/controls.css">
    <script src="https://cdn.jsdelivr.net/npm/shaka-player@2.5.5/dist/shaka-player.ui.debug.js"></script>
<!--    <script src="https://shaka-player-demo.appspot.com/dist/receiver.compiled.js"></script>-->
    <script defer src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
    <% preact.headEnd %>
</head>
<body>
<% preact.bodyEnd %>
</body>
</html>
