.play i {
    color: white;
    font-size: 70px;
}
.playPosterContainer {
    position: relative;
}
.play {
    width: 230px;
    transition: border 180ms, opacity 180ms;
    opacity: 0;
    position: absolute;
    top: -205px;
    left: 0;
    text-align: center;
    margin: 10px;
}
.poster {
    width: 230px;
    box-shadow: 5px 5px 5px 0 rgba(21, 21, 21, 0.6);
    border-radius: 4px;
    transition: opacity 180ms;
    margin: 10px;
    border: transparent solid 3px;
    position: relative;
}
.playPosterContainer:hover .poster {
    opacity: 0.85;
    border: var(--hover-border-color) solid 3px;
    border-radius: 5px;
    outline: none;
}
.playPosterContainer:hover .play {
    opacity: 1;
}
