.login {
    width: 400px;
    max-width: 98%;
    margin: 15vh auto;
}

.login form {
    color: var(--faded-text);
}

.login form input {
    font-size: 14pt;
    margin-bottom: 5px;
    width: 100%;
}
.login form button {
    float: right;
    font-size: 16pt;
}
