.link {
    position: relative;
}

.entry {
    margin-right: 2px;
    margin-left: 2px;
    box-shadow: 2px 2px 5px 0 rgba(33, 33, 33, 1);
    border-radius: 2px;
    cursor: pointer;
    width: 126px;
    transition: border 100ms;
}
.entry:hover,
.entry:focus {
    border: var(--hover-border-color) solid 1px;
    box-shadow: 0 0 5px 0 var(--hover-border-color);
    border-radius: 4px;
}

.progress {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 3px;
    height: 3px;
    background-color: rgba(128, 207, 247, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 1px;
}
@media only screen and (max-width: 1969px) {
    .entry {
        min-width: calc((100% / 14) - 4px);
    }
}
@media only screen and (max-width: 1839px) {
    .entry {
        min-width: calc((100% / 13) - 4px);
    }
}
@media only screen and (max-width: 1709px) {
    .entry {
        min-width: calc((100% / 12) - 4px);
    }
}
@media only screen and (max-width: 1579px) {
    .entry {
        min-width: calc((100% / 11) - 4px);
    }
}
@media only screen and (max-width: 1449px) {
    .entry {
        min-width: calc((100% / 10) - 4px);
    }
}
@media only screen and (max-width: 1319px) {
    .entry {
        min-width: calc((100% / 9) - 4px);
    }
}
@media only screen and (max-width: 1189px) {
    .entry {
        min-width: calc((100% / 8) - 4px);
    }
}
@media only screen and (max-width: 1059px) {
    .entry {
        min-width: calc((100% / 7) - 4px);
    }
}
@media only screen and (max-width: 929px) {
    .entry {
        min-width: calc((100% / 6) - 4px);
    }
}
@media only screen and (max-width: 799px) {
    .entry {
        min-width: calc((100% / 5) - 4px);
    }
}
@media only screen and (max-width: 669px) {
    .entry {
        min-width: calc((100% / 4) - 4px);
    }
}
@media only screen and (max-width: 539px) {
    .entry {
        min-width: calc((100% / 3) - 4px);
    }
}
@media only screen and (max-width: 409px) {
    .entry {
        min-width: calc((100% / 2) - 4px);
    }
}
@media only screen and (max-width: 279px) {
    .entry {
        min-width: calc((100% / 1) - 4px);
    }
}
