.bg {
    padding: 15px 15px;
    min-height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: repeat-y;
    background-position-x: center;
}

.poster {
    max-height: 340px;
    display: inline-block;
    box-shadow: 5px 5px 5px 0 rgba(21, 21, 21, 0.6);
    border-radius: 4px;
    margin: 10px;
}
.title {
    font-size: 38pt;
    font-weight: 700;
    display: inline-block;
}
.info {
    display: inline-block;
    font-size: 16pt;
}
.marked {
    margin: 10px;
    border-radius: 8px;
    background-color: rgba(66, 66, 66, 0.6);
    padding: 4px 6px;
}

.episode {
    margin: 10px;
    height: 120px;
    max-width: 50%;
    display: inline-block;
    box-shadow: 5px 5px 5px 0 rgba(21, 21, 21, 0.6);
    border-radius: 4px;
    transition: opacity 100ms ease, border 200ms;
    border-color: #1565c0;
}
.play {
    transition: opacity 100ms ease;
    opacity: 0;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.play i {
    color: white;
    font-size: 40px;
    padding: 15px;
}
.playPosterContainer {
    position: relative;
}
.playPosterContainer:hover .episode {
    opacity: 0.9;
    border: #1565c0 solid 3px;
    border-radius: 5px;
    outline: none;
}
.playPosterContainer:hover .play {
    opacity: 1;
}
.number {
    opacity: 0.8;
    text-shadow: 0 0 4px black;
    position: absolute;
    top: -19px;
    left: -8%;
    width: 100%;
    text-align: right;
    transition: top 90ms, left 90ms;
}
.playPosterContainer:hover .number {
    top: -21px;
    left: calc(-8% - 2px);
}
