.home {
    padding: 76px 20px;
    min-height: 100%;
    width: 100%;
}

.entryContainer {
    padding-top: 10px;
}
.entryContainer:empty::after {
    content: "No entries to show";
    color: #212121;
}

.entryTile {
    margin: 3px;
    box-shadow: 2px 2px 5px 0 rgba(33, 33, 33, 1);
    border-radius: 2px;
    max-height: 200px;
}

.search {
    padding-left: 5px;
    width: 100%;
    font-size: 20px;
    border: 2px solid #585858;
    border-radius: 8px;
    background: none;
}
.search:focus {
    border-color: #1565c0;
    outline: none;
}
