.subtitles {
    font-size: 16pt;
    font-family: "Lato", "Helvetica Neue", arial, sans-serif;
    color: #e0e0e0;
    background-color: transparent;
    border-color: transparent;
    border-radius: 4px;
    text-transform: capitalize;
    overflow: hidden;
}
.subtitles option {
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}
