name: CI - Frontend

on:
  push:
    branches:
      - master
    paths:
    - 'nxplx-frontend/**'
  pull_request:
    branches:
      - master
    paths:
    - 'nxplx-frontend/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      working-directory: ./nxplx-frontend
    timeout-minutes: 10
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Cancel outdated workflow-runs
      uses: fkirc/skip-duplicate-actions@master
    
    - name: Install dependencies
      working-directory: ${{env.working-directory}}
      run: yarn install --frozen-lockfile --no-progress --silent

    - name: Build frontend
      working-directory: ${{env.working-directory}}
      run: yarn build